html, body {
    display: block;
    margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

#noscript {
	text-align: center;
}

/* source: http://jsfiddle.net/HfyfX/ */
.offscreen {
	position: fixed !important;
	left: -9999px !important;
	display: inline !important;
}
/* ********************************** */

#page #main #content video,
#page #main #content #canvas,
#page #main #nav,
#footer {
	display: none;
	overflow: hidden;
}

#page,
#page #main,
#page #main #content,
#page #main #content #colorDisplay  {
	display: block;
    margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#page #main #content #colorDisplay {
	border-style: none;
	border-width: 0px;
}