html, body {
    background-color: #D2D2D2;
}

#noscript {
	text-align: center;
}

.greyout {
    background-color:#c0c0c0;
    color: #e2e2e2;
}

/* source: http://jsfiddle.net/HfyfX/ */
.offscreen {
	position: fixed !important;
	left: -9999px !important;
	display: inline !important;
	width: 100%;
	height: 100%;
	margin: auto;
}
/* *********************************** */

/* ********************************************************* */

@media screen and (min-width: 1200px) {
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #page, #footer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
    }
    
    #main {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 0px;
        margin: left;
    }

    #main #nav {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 15px;
        margin: 0px;
        width: 20%;
        order: 1;
    }
    
    #main #nav #icon-robo {
        display: block;
        left: 50%;
        margin-left: 25%;
        padding: 0px;
        height: 20%;
        width: 40%;
        order: 1;
    }
    
    #main #nav #icon-robo .icons {
        display: block;
        height: 100%;
        width: 100%;
    }
    
    #main #nav .buttons {
        margin-top: 0;
        padding: 0px;
        order: 2;
    }
    
    #nav .ui-btn {
        width: 90%;
    }

    #main #nav #slider-frames {
        background-color: #D2D2D2;
        display: flex;
        flex-direction: column;
        width: 80%;
        order: 2;
    }
    
    #main #nav #slider-frames #slider-frames-label {
        background-color: #D2D2D2;
        order: 1;
        width: 100%;
    }
    
    #main #nav #slider-frames #slider-frames-input {
        background-color: #D2D2D2;
        order: 2;
        width: 100%;
    }

    #main #content {
        margin: auto;
        display: block;
        margin-left: 1%;
        margin-right: 1%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        order: 2;
    }

    #main #content video  {
        margin: auto;
        display: none;
        width: 95%;
        height: 100%;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
    }

    #main #content #canvas {
        margin: auto;
        display: none;
        width: 95%;
        height: 100%;
        padding: 5px;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
    }

    #main #content #colorDisplay {
        display: block;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        width: 95%;
        height: 100%;
        padding: 5px;
    }
}

/* end of @media screen and (min-width: 1200px) */

@media screen and (max-width: 1200px) and (min-width: 900px) {
	
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #page, #footer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
	#main {
        margin: auto;
		padding: 0px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

    #main #nav {
        display: flex;
        flex-direction: column;
        overflow: hidden;
		margin-top: 0px;
		padding: 0px;
		padding-bottom: 0px;
		height: 150px;
		width: 100%;
        order: 2;
    }
    
    #main #nav #icon-robo {
        display: none;
    }
    
    #main #nav .buttons {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        order: 1;
    }
    
	#nav .ui-btn {
		width: 80%;
		margin: 1px;
	}

    #main #nav #slider-frames {
        background-color: #D2D2D2;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: 100%;
        order: 2;
    }
    
    #main #nav #slider-frames #slider-frames-label {
        background-color: #D2D2D2;
        order: 1;
        width: 20%;
    }
    
    #main #nav #slider-frames #slider-frames-input {
        background-color: #D2D2D2;
        order: 2;
        width: 80%;
    }
    
    #main #content {
        display: block;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
        overflow: hidden;
        padding: 5px;
        order: 1;
    }

    #main #content video  {
        margin: auto;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #main #content #canvas {
        margin: auto;
        display: none;
        overflow: hidden;
    }

    #main #content #colorDisplay {
        display: block;
        margin: auto;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        width: 95%;
        height: 100%;
    }
}

/* end of @media screen and (max-width: 1200px) and (min-width: 900px) */

@media screen and (max-width: 900px) {
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #page, #footer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #main {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    #main #content {
        padding: 0px;
		margin: auto;
		width: 100%;
		height: 50%;
        order: 1;
    }

    #main #nav {
        display: inline;
		margin-top: 0px;
		padding: 0px;
		padding-bottom: 0px;
		height: 50%;
		width: 100%;
		float: left;
        order: 2;
    }
    
    #main #icon-robo {
        display: none;
    }
    
    #main #nav .buttons {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        order: 1;
    }
    
    #nav .ui-btn {
		width: 100%;
		margin: 1px;
	}

    #main #nav #slider-frames {
        background-color: #D2D2D2;
        margin: auto;
        width: 90%;
        order: 2;
    }
    
    #main #nav #slider-frames #slider-frames-label,
    #main #nav #slider-frames #slider-frames-input {
        background-color: #D2D2D2;
        width: 100%;
    }
    
	video, #canvas, #colorDisplay {
		border-radius: 0px;
		margin: auto;
		width: 100%;
		height: 90%;
		padding: 0px;
	}
    
    #main #content {
        margin: auto;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #main #content video  {
        margin: auto;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #main #content #canvas {
        margin: auto;
        display: none;
        overflow: hidden;
    }

    #main #content #colorDisplay {
        display: block;
        width: 100%;
        height: 100%;
    }
}

/* end of @media screen and (max-width: 900px) */